---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import CodeIcon from "@/components/icons/Code.astro"
import Experience from "@/components/Experience.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"
import Certifications from "@/components/Certifications.astro"
---

<Layout
  title="Porfolio de midudev - Desarrollador y Programador Web con 15 años de experiencia"
  description="Contrata a midudev para crear tu aplicación web o móvil. Desarrollador Web y Creador de Contenido."
>
  <main class="px-4">

    <!-- HERO -->
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>

    <div class="space-y-24">

      <!-- EXPERIENCIA -->
      <SectionContainer id="experiencia">
        <TitleSection>
          <Briefcase class="size-8" />
          Experiencia Laboral
        </TitleSection>
        <Experience />
      </SectionContainer>

      <!-- PROYECTOS -->
      <SectionContainer id="proyectos">
        <TitleSection>
          <CodeIcon class="size-7" />
          Proyectos
        </TitleSection>
        <Projects />
      </SectionContainer>

      <!-- SOBRE MI -->
      <SectionContainer id="sobre-mi">
        <TitleSection>
          <ProfileCheck class="size-8" />
          Sobre mí
        </TitleSection>
        <AboutMe />
      </SectionContainer>

      <!-- CERTIFICACIONES -->
      <SectionContainer id="certificaciones">
        <TitleSection>
          <CodeIcon class="size-7" />
          Certificaciones
        </TitleSection>
        <Certifications />
      </SectionContainer>

    </div>
  </main>
</Layout>
