---
const personalImageAlt = "Yefrin Pérez";
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-green-500 dark:[&>p>strong]:text-green-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      ¡Hola! soy <strong>Yefrin Pérez</strong> 

      actualmente ya cuento con cierre de pénsum en la carrera de Ingeniería en Sistemas de Información y Ciencias de la Computación, consolidando mis habilidades para diseñar, desarrollar y desplegar soluciones tecnológicas integrales.
    </p>

    <p>
      Me apasiona el desarrollo fullstack. Utilizando tecnologías como <strong>Node.js y Express para el backend</strong>. 
      Y <strong>Angular, React</strong> para el frontend, junto con <strong>Material UI</strong> y <strong>Bootstrap</strong>
      para mejorar la experiencia de usuario. Tambien tengo experiencia con otras tecnologías modernas.
    </p>

    <p>
      Mis bases de datos preferidas son, <strong>Firebase</strong>, <strong>MongoDB</strong>, <strong>MySQL</strong> y <strong>SQL Server</strong>.
      Además, me interesa mucho la infraestructura como Código (IaC), y estoy familiarizado con tecnologías de gestión en la nube
      como <strong>AWS</strong>. Me gusta trabajar con <strong>Docker</strong> y <strong>Kubernetes</strong>
      para la gestión de contenedores y orquestación de los mismos. 
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/projects/foto_perez-Photoroom.png"
    alt="Foto de Pérez"
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-blue-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  >
</article>
