---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "2020-2021",
    title: "Asistente de Gestión Administrativa y Tecnológica",
    company: "Centro Cultural T-21",
    description:
      "Responsable de apoyar la operación administrativa y técnica del centro educativo mediante el uso de herramientas digitales. Encargado del manejo eficiente del sistema de inventario, control y supervisión del sistema interno del centro, así como la creación, validación y análisis de reportes administrativos. Esta experiencia fortaleció mis habilidades en organización, análisis de datos y uso de software para gestión institucional.",
  },
  {
    date: "2025",
    title: "Instructor de Tecnologías de la Información y Desarrollo de Software",
    company: "Liceo Nuevo Milenio",
    description:
      "Me desempeñé como instructor de programación y computación, diseñando e impartiendo contenidos orientados a lógica computacional, estructuras de datos y desarrollo de software. Supervisé proyectos prácticos y evalué el progreso técnico de los estudiantes, promoviendo un aprendizaje aplicado y fortaleciendo sus habilidades de resolución de problemas. Durante mi tiempo en la institución, contribuí a mantener una alta tasa de aprobación y al desarrollo de competencias fundamentales en tecnologías de la información.",
  },

  {
    date: "Actualmente..",
    title: "Cochinita Porky Product Control Platform",
    company: "Freelance",
    description:
      "Proyecto fullstack para la gestión y promoción de productos de Cochinita Porky. Incluye un backend en Node.js, un frontend en React, y configuración para despliegue con Docker y Nginx.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
